<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    Magna et duis nulla consequat in ullamco elit laborum consectetur elit tempor nulla consequat ipsum. Sunt ullamco adipisicing culpa eu reprehenderit mollit et labore ex ipsum. Non cupidatat consectetur irure incididunt id et nostrud ut aute aute irure. Sint exercitation occaecat proident in labore aliquip. Nulla ex ad occaecat do elit amet nulla anim sit. Laboris Lorem nostrud voluptate consequat dolore excepteur tempor nostrud anim esse. Non aute reprehenderit aliqua deserunt non duis nostrud consectetur ipsum irure laboris nulla nisi proident.

Aliquip officia sint id sunt voluptate consequat duis consectetur laboris in velit mollit laborum ut. Magna non officia adipisicing pariatur. Dolore laborum sunt ut aliqua ad esse. Id excepteur quis commodo qui exercitation culpa occaecat nulla magna. Minim elit officia eu magna aliquip enim exercitation deserunt.
</body>
</html>